/*************************************
            full body
*************************************/


@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400");
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

body{
    margin: 0;
    background-color: #ededed;
    overflow-x: hidden;
    font-family: 'bahnschrift' , 'Roboto Condensed' , 'roboto medium';
}

:root{
    --normal-p-font: 1em;
    --normal-h2-font: 1.5em;
    --normal-h1-font: 2em;
    --normal-h3-font: 1.17em;
}
/*************************************
            header
*************************************/

header{
    position: relative;
    background-color: #13cbd8;
    color: rgb(111, 77, 77);
    height: 100vh;
    max-height: 800px;
}

header nav{
    display: block;
    position: fixed;
    width: 100%;
    z-index: 5000;
    background-color: rgb(222, 255, 255);
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
    padding-left: 0;
    margin: 0;
} 

header nav ul li{
    text-align: center;
    width: 17.5%;
}

header nav ul li a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: black;
    text-align: center;
    cursor: pointer;
}

header nav ul li a:hover{
    background-color: #13cbd8;
    border-radius: 10px 10px 0 0;
    color: #6f4d4d;
}

header .nav-button{
    display: none;
}

#sec-nav{
    display: none;
}

header #header-container{
    padding-top: 50px;
    display: flex;

}

header #header-container .header-text{
    width: 100%;
    margin: 20vh 10px;
    padding-left: 50px;

}

header #header-container .header-text h1{
    font-size: 6vw;
}

header #header-container .header-text h3{
    font-size: 2.5vw;
}


/*************************************
            body
*************************************/

.form{
    display: none;
}

.form.show{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 400px;
    min-height: 340px;
    width: 50%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.911);
    z-index: 10000;
    border-radius: 20px;
    display: block;
    border-bottom: 2px solid;
    box-shadow: 0, 2px, 0, 2px;
}

#form1.show{
    min-height: 82vh;
    margin-top: 60px;
}

#form1.show.error1{
    min-height: 88vh;
    margin-top: 50px;
    height: auto;
    /* max-height: 90vh; */
}

.form h3{
    margin: 50px 0 40px;
    font-size: 1.8em;
}

.form input{
    height: 30px;
    width: 70%;
    display: block; 
    margin: 20px auto 5px;
    padding-left: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    background-color: rgba(255, 255, 255, 0.911);
}

.form input:hover, .form input:focus{
    border-bottom: 2px solid #13cbd8;
}

.form input:user-invalid{
    border-bottom: 2px solid #d81313;
}

.form button{
    height: 30px;
    width: 70%;
    display: block;
    margin: 20px auto;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 50px;
    background-color: #13cbd8;
    color: #6f4d4d;
    border: 1px solid #13cbd8;
    text-transform: uppercase;
    font-weight: bold;
}

.form .bottom{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.form a{
    color: #136268;
    cursor: pointer;
}

.form.show i{
    display: none;
    color: #d81313;
    margin: 0 15%;
    font-size: 12px;
    text-align: left;
}

.form.show.error1 .error.Email{
    display: block;
}

.form.show.error2 .error.Password{
    display: block;
}

.form.show.error3 .error.Fname{
    display: block;
}

.form.show.error4 .error.Lname{
    display: block;
}

.form.show.error5 .error.Email1{
    display: block;
}

.form.show.error6 .error.Password{
    display: block;
}

.form.show.error7 .error.Cpassword{
    display: block;
}

/*************************************
            footer
*************************************/
footer{
    background-color: #d1d1d1;
    color: rgb(50, 50, 50);
    font-family: calibri;
}

footer p{
    font-weight: bold;
    text-transform: uppercase;
    font-size: calc(var(--normal-h3-font) - 1px);
}

footer #Site{
    font-size: calc(var(--normal-h3-font) + 10px);
}


footer #da{
    display: flex;
    justify-content: space-around;
}

footer #da div{
    /* width: 12%; */
    padding-left: 5px;
}

footer a{
    text-decoration: none;
    color: inherit;
}

footer ul{
    padding: 0;
}

footer li{
    padding-top: 3px;
    list-style: none;
}

footer #db{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer #db #ddb{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin: 0 20px 5px;
}

footer #db p{
    margin: 0 20px 5px;
    text-transform: capitalize;
}

span{
    text-align: center;
    width: 30px;
    height: 30px;
    columns: rgb(96, 96, 220);
    background-color: white;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
}

span.visible{
    display: block;
}

span a{
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
    font-weight: bolder;
}
